{
  "name": "solid-icons",
  "author": "Ignacio Zsabo",
  "version": "0.1.1",
  "description": "A SolidJS SVG icons pack",
  "license": "MIT",
  "peerDependencies": {
    "solid-js": "^1.0.0"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/x64Bits/solid-icons"
  },
  "bugs": {
    "url": "https://github.com/x64Bits/solid-icons/issuess"
  },
  "homepage": "https://github.com/x64Bits/solid-icons#readme"
}
